# place this to ~/.config/systemd/user
# systemctl --user enable wallpaper.timer
[Unit]
Description=Set desktop wallpaper

[Timer]
OnBootSec=1min
OnUnitActiveSec=1min

[Install]
WantedBy=timers.target
