# CP210X uart bridge
SUBSYSTEM=="usb", ATTRS{idVendor}=="10c4",ATTRS{idProduct}=="ea60", MODE="0660", SYMLINK+="modem", TAG+="uaccess"
SUBSYSTEM=="usb", ATTRS{idVendor}=="1a86",ATTRS{idProduct}=="7523", MODE="0660", TAG+="uaccess"
