SUBSYSTEM=="usb",ATTR{idVendor}=="16c0",ATTR{idProduct}=="05dc",GROUP="arm",MODE="0660"
SUBSYSTEM=="usb",ATTR{idVendor}=="03eb",ATTR{idProduct}=="c8b4",GROUP="arm",MODE="0660"